fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
aiosqlite
pydantic
pydantic-settings
httpx
requests
python-dotenv
loguru
groq
google-genai
sentence-transformers
chromadb
pyspellchecker
PyMuPDF
pillow
aiofiles
slowapi
redis
spacy
